* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.logo__cabecalho {
    text-align: center;
}

.logo {
    width: 150px;
}

.titulo__cabecalho {
    text-align: center;
    padding: 1em 1em 2em 1em;
}

.paragrafo__container {
    padding: 1em 5em;
    text-align: justify;
    font-size: 12px;
}

.background__dourado {
    font-weight: 400;
    background-color: rgb(255, 215, 0);
}

.titulo__descricao {
    padding: 1em 3.5em;
    text-decoration: underline;
    
}

strong {
    font-size: 14px;
}

.cor__dourada {
    color: rgb(255, 215, 0);
    font-size: 16px;
}

.background__azul {
    background-color: rgb(0, 255, 255);
    font-weight: 400;
}

.email {
    text-decoration: underline;
    color: rgb(0, 0, 255);
    font-weight: 700;
}